@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Lora);

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lora", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #73664C;
    background-color: #F0EADD;
}

/* Nagivation Header */
.nav-container {
    background: #FFFFFF;
    height: 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav ul {
    display: flex;
}

nav .restaurantdb {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #4B7963;
    text-decoration: none;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #4B7963;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

/* Container */

.header-container {
    padding: 20px;
    overflow: hidden;
    vertical-align: top;
}

.employees {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    color: #365446;
    margin-top: 15px;
}

.employee-database {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #4B7963;
    margin-top: 15px;
    margin-bottom: 15px;
}

.information {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #73664C;
    margin-bottom: 15px;
}